/* Startup screen button style */

.startup-buttons {
    position: absolute;
    width: 70% !important;
    height: 3% !important;
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
    background-image: linear-gradient(#F46B45, #EEA849) !important;
    text-transform: none !important;
}

.form-buttons {
    height: 4% !important;
    background-image: linear-gradient(#F46B45, #EEA849) !important;
    text-transform: none !important;
}

#continue-button {
    top: 6% !important;
}

.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.icon-header-nav {
    display: inline-block;
    height: 22px;
    width: 22px;
}


/* iPhone X Portrait */

@media screen and (min-height: 812px) and (min-width: 375px) and (orientation: portrait) {
    /* Welcome Page Button Layout */
    div#welcome-pg-buttons-layout {
        top: 72% !important;
    }
    /* Welcome Page Create Account Button */
    a#create-button {
        top: 14% !important;
    }
    /* Create Account Page Buttons Layout */
    div#create-acc-pg-buttons-layout {
        top: 50% !important;
    }
    /* Create Account Page Buttons Layout */
    div#account-creation-success-pg-buttons-layout {
        top: 69% !important;
    }
    /* Sign In Page Buttons Layout */
    div#sign-in-pg-buttons-layout {
        top: 55% !important;
    }
    /* Forget Password Buttons Layout */
    div#forget-password-pg-buttons-layout {
        top: 70% !important;
    }
    /* Reset Password Buttons Layout */
    div#reset-password-pg-buttons-layout {
        top: 50% !important;
    }
    /* Reset Password Success Buttons Layout */
    div#reset-password-success-pg-buttons-layout {
        top: 75% !important;
    }
    .startup-buttons {
        border-radius: 10px !important;
    }
    .form-buttons {
        border-radius: 10px !important;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 15px !important;
        height: 2px !important;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0px !important;
    }
}


/* iPhone X Landscape */

@media screen and (min-height: 375px) and (min-width: 812px) and (orientation: landscape) {
    /* Welcome Page Buttons Layout */
    div#welcome-pg-buttons-layout {
        top: 60% !important;
    }
    /* Welcome Page Create Account Button */
    a#create-button {
        top: 18% !important;
    }
    .startup-buttons {
        border-radius: 5px !important;
    }
    .form-buttons {
        border-radius: 10px !important;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 15px !important;
        height: 2px !important;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0px !important;
    }
}


/* iPad Pro Portrait */

@media screen and (min-height: 1366px) and (min-height: 1024px) and (orientation: portrait) {
    .startup-buttons {
        border-radius: 10px !important;
    }
    .form-buttons {
        border-radius: 10px !important;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 25px !important;
        height: 4px !important;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0px !important;
    }
    .carousel-item-margin {
        margin-left: 30px !important;
        margin-right: 30px !important;
        margin-top: 30px !important;
    }
    .icon-header-nav {
        display: inline-block !important;
        height: 35px !important;
        width: 35px !important;
    }
}


/* iPad Pro Landscape */

@media screen and (min-width: 1366px) and (min-height: 1024px) and (orientation: landscape) {
    /* Welcome Page Buttons Layout */
    div#welcome-pg-buttons-layout {
        top: 65% !important;
    }
    /* Welcome Page Create Account Button */
    a#create-button {
        top: 15% !important;
    }
    .startup-buttons {
        border-radius: 10px !important;
    }
    .form-buttons {
        border-radius: 10px !important;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 25px !important;
        height: 4px !important;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0px !important;
    }
    .carousel-item-margin {
        margin-left: 30px !important;
        margin-right: 30px !important;
        margin-top: 30px !important;
    }
    .icon-header-nav {
        display: inline-block !important;
        height: 35px !important;
        width: 35px !important;
    }
}