.card-text-font-style {
    text-align: center;
    height: 14px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 12.5px;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.sub-category-style {
    position: absolute;
    width: 180px;
    height: 20px;
    left: 50px;
    top: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
}

.clickable-font-styles {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.9);
}

.shipping-type-details {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.85);
}

.shipped-shipping-type {
    position: absolute;
    width: 55px;
    height: 16px;
    left: 22px;
    top: 210px;
}

.to-be-collected-shippig-type {
    position: absolute;
    width: 92px;
    height: 16px;
    left: 22px;
    top: 240px;
}

.unpaid-shipping-type {
    position: absolute;
    width: 42px;
    height: 16px;
    left: 22px;
    top: 179px;
}

.orders-text-style {
    position: absolute;
    width: 54px;
    height: 18px;
    left: 47px;
    top: 149px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.8);
}

.order-type-view-all-text {
    position: absolute;
    width: 42px;
    height: 16px;
    left: 314px;
    top: 149px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 12px;
    color: #2F78BB;
}

.edit-settings-basic-font-styles {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.85);
}

.shipping-address-possition {
    position: absolute;
    width: 109px;
    height: 16px;
    left: 51px;
    top: 298px;
}

.notifictions-possition {
    position: absolute;
    width: 109px;
    height: 16px;
    left: 51px;
    top: 360px;
}

.settings-possition {
    position: absolute;
    width: 109px;
    height: 16px;
    left: 51px;
    top: 395px;
}

.help-center-text-possition {
    position: absolute;
    width: 109px;
    height: 16px;
    left: 51px;
    top: 434px;
}

.about-us-text-possition {
    position: absolute;
    width: 109px;
    height: 16px;
    left: 51px;
    top: 473px;
}

.user-name-layout {
    position: absolute;
    width: 145px;
    height: 22px;
    left: 27px;
    top: 12px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
}

.member-type-layout {
    position: absolute;
    width: 89px;
    height: 14px;
    left: 50px;
    top: 44px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.9);
}

.default-profile-font-style {
    font-family: Open Sans;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.give-us-a-call-text-style {
    position: absolute;
    width: 200px;
    height: 22px;
    left: 131.27px;
    top: 127px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.contact-number-style {
    position: absolute;
    width: 124.3px;
    height: 22px;
    left: 125.35px;
    top: 154px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
}

.about-us-paragraph-style {
    position: absolute;
    width: 303px;
    height: 131px;
    left: 13px;
    top: 162px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.8);
}

.address-one-style {
    margin-top: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.address-two-style {
    margin-top: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.default-profile-font-style {
    font-family: Open Sans;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.account-details-font-styles {
    font-family: Open Sans;
    font-size: 13px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.my-profile-details-title-style {
    position: absolute;
    width: 75px;
    height: 16px;
    left: 23px;
    top: 120px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.85);
}

.contact-name-style {
    position: absolute;
    width: 100px;
    height: 16px;
    left: 10px;
    top: auto;
    font-weight: 600;
}

.user-name-text-possition {
    position: absolute;
    text-align: end;
    width: 91px;
    height: 16px;
    right: 10%;
    top: auto;
}

.member-center-style {
    position: absolute;
    width: 110px;
    height: 16px;
    left: 10px;
    top: auto;
    font-weight: 600;
}

.user-full-name-style {
    position: absolute;
    width: 130px;
    height: 15px;
    right: 11%;
    text-align: end;
    top: auto;
}

.account-info-style {
    position: absolute;
    width: 100px;
    height: 16px;
    left: 10px;
    top: auto;
    font-weight: 600;
}

.gender-style {
    position: absolute;
    width: 87px;
    height: 16px;
    left: 10px;
    top: auto;
    font-weight: 600;
}

.birthday-style {
    position: absolute;
    width: 100px;
    height: 16px;
    left: 10px;
    top: auto;
    font-weight: 600;
}

.logged-in-user-name-style {
    position: absolute;
    width: 102px;
    height: 16px;
    right: 5%;
    text-align: end;
    top: auto;
}

.logged-in-user-gender {
    position: absolute;
    width: 29px;
    height: 16px;
    right: 5%;
    text-align: end;
    top: auto;
}

.logged-in-user-birthday {
    position: absolute;
    width: 100px;
    height: 16px;
    right: 5%;
    text-align: end;
    top: auto;
}

.shipping-address-style {
    position: absolute;
    width: 200px;
    height: 16px;
    left: 23px;
    top: 400px;
    font-weight: 600;
}

.fav-list-carousel-price-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.8);
}

.fav-list-carousel-product-details-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    display: flex;
    color: rgba(0, 0, 0, 0.6);
}

.favourite-list-title-span {
    position: absolute;
    width: 100%;
    left: 11%;
    top: 30%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
}


/* iPhone X */

.iphone-bottom-navbar-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px !important;
    text-align: center;
    text-transform: none !important;
    font-style: normal;
    color: #7D7B7D;
    font-weight: 600;
    line-height: 14px;
}

.iphone-smallest-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px !important;
    font-style: normal;
    text-align: center;
    letter-spacing: -0.165px;
    text-transform: none !important;
}

.iphone-medium-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px !important;
    font-style: normal;
    font-weight: 550;
    line-height: 18px;
    letter-spacing: -0.165px;
    text-align: center;
    text-transform: none !important;
}

.iphone-large-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px !important;
    align-items: center !important;
    font-style: normal !important;
    font-weight: 550 !important;
    line-height: 18px !important;
    text-align: center !important;
    letter-spacing: -0.165px !important;
    text-transform: none !important;
}

.asda-logo-style {
    position: absolute;
    width: 116px;
    height: 25px;
    left: 158px;
    top: -1px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    background-image: linear-gradient(#F46B45, #EEA849) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flash-deals-item-details {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 5px;
    text-align: left !important;
}

.flash-deals-price {
    text-align: left !important;
    font-family: Open Sans;
    font-style: normal;
    font-size: 15px;
    line-height: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 5px;
}

.flash-deals-discount-price {
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    color: #939191;
    margin-top: 4px;
    text-align: left !important;
}

.favourites-rating {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 4px;
}

.popup-cancel-btn {
    font-size: 14px !important;
    color: #FF0000 !important;
    font-family: Open Sans;
    font-weight: normal;
}

.popup-delete-btn {
    font-size: 14px !important;
    color: #FF0000 !important;
    font-family: Open Sans !important;
    font-weight: normal !important;
}

.popup-submit-btn {
    font-size: 14px !important;
    color: #5187D9 !important;
    font-family: Open Sans !important;
    font-weight: normal !important;
}

.popup-normal-btn {
    font-size: 14px !important;
    color: black !important;
    font-family: Open Sans !important;
    font-weight: normal !important;
}

.popup-content {
    font-size: 15px !important;
    font-family: Open Sans !important;
    font-weight: normal;
}

.popup-header {
    color: black !important;
    font-size: 20px !important;
    font-family: Open Sans !important;
}

.profile-text-possition {
    position: absolute;
    width: 42px;
    height: 16px;
    left: 11px;
    top: 10px;
}

.shipping-address-text-possotion-settings {
    position: absolute;
    width: 130px;
    height: 16px;
    left: 11px;
    top: 46px;
}

.currency-text-possition {
    position: absolute;
    width: 58px;
    height: 16px;
    left: 11px;
    top: 15px;
}

.language-text-possition {
    position: absolute;
    width: 104px;
    height: 16px;
    left: 11px;
    top: 51px;
}

.version-text-possition {
    position: absolute;
    width: 104px;
    height: 16px;
    left: 11px;
    top: 146px;
}

.private-policy-text-possition {
    position: absolute;
    width: 104px;
    height: 16px;
    left: 11px;
    top: 110px;
}

.settings-values-font {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.version-value-possition {
    position: absolute;
    width: 28px;
    height: 16px;
    left: 336px;
    top: 146px;
}

.currency-value-possition {
    position: absolute;
    width: 28px;
    height: 16px;
    left: 336px;
    top: 15px;
}

.language-value-possition {
    position: absolute;
    width: 41px;
    height: 16px;
    left: 323px;
    top: 51px;
}

.asda-logo-settings-bottom {
    position: absolute;
    width: 63px;
    height: 28px;
    left: 155px;
    top: 313px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.version-text-possition-bottom {
    position: absolute;
    width: 53px;
    height: 15px;
    left: 161px;
    top: 356px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 11px;
    color: rgba(0, 0, 0, 0.6);
}

.copy-rights-text-possition {
    position: absolute;
    width: 83px;
    height: 19px;
    left: 146px;
    top: 376px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.sign-out-text {
    position: absolute;
    width: 47.44px;
    height: 16px;
    left: 164.28px;
    top: 290px;
    font-family: Open Sans;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
}

.add-to-cart-font-style {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px !important;
    line-height: 15px;
    text-align: center;
    background: -webkit-linear-gradient(#F46B45, #EEA849) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.buy-now-font-style {
    font-family: Open Sans;
    font-size: 14px !important;
    line-height: 15px;
    text-align: center;
    color: white !important;
}

.item-description-title {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
}

.item-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: start;
    color: rgba(0, 0, 0, 0.8);
}

.item-details {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.item-desription-text-style {
    position: absolute;
    width: 177px;
    height: 20px;
    left: 25px;
    top: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.8);
}

.customer-review-text-style {
    position: absolute;
    width: 177px;
    height: 24px;
    left: 25px;
    top: 15px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.8);
}

.product-price-text-style {
    position: absolute;
    width: 100px;
    height: 17.11px;
    left: 25px;
    top: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    color: #000000;
    /* border: 0.3px solid rgba(0, 0, 0, 0.8); */
}

.discount-product-price-text-style {
    position: absolute;
    width: 50px;
    height: 17.11px;
    left: 25px;
    top: 25px;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    text-decoration: line-through;
    font-size: 13px;
    line-height: 23px;
    color: #000000;
}

.discount_persentage_style {
    position: absolute;
    width: 50px;
    height: 17.11px;
    left: 72px;
    top: 25px;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    color: #F24242;
}

.product-name-text-style {
    position: absolute;
    width: 250px;
    height: 20px;
    left: 25px;
    top: 27px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
}

.product-name-text-style-2 {
    position: absolute;
    width: 300px;
    height: 20px;
    left: 25px;
    top: 42px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
}

.product-rating-text {
    position: absolute;
    width: 27px;
    height: 15px;
    left: 25px;
    top: 80px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);
}


/* iPad Pro */

.ipad-smallest-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 8px !important;
}

.ipad-medium-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px !important;
}

.ipad-large-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px !important;
}

#header-title {
    position: absolute;
    left: 35%;
    top: 20%;
    font-size: 30px;
}

.header-title-color {
    font-weight: 600;
    color: black;
    background: -webkit-linear-gradient(#F46B45, #EEA849) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.flash-deals-header-title-color {
    font-weight: 600;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-style: normal !important;
    font-weight: 550 !important;
    text-transform: none !important;
    background: white !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.favouriteListTitleSpan {
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    line-height: 16px !important;
    align-items: center !important;
    letter-spacing: -0.02em !important;
    color: rgba(0, 0, 0, 0.8) !important;
}

.shipping-details-title {
    position: absolute;
    left: 12%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
}

.default-shipping-font {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 10px;
    color: #C56018;
}

.address-contact-name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 11px;
    color: #000000;
    margin-bottom: 15px;
}

.address-details {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 11px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 8px;
}

.address-postal-code {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 11px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 8px;
}

.address-mobile-number {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 11px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 8px;
}

.review-item-name {
    position: absolute;
    margin-right: 4%;
    top: 11%;
    left: 50%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.9);
}

.review-rating-text {
    margin-left: 7%;
    top: 29%;
    position: absolute;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.9);
}

.review-rating-value {
    top: 28.5%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    margin-left: 76%;
}

.review-rating-card-text-font-style {
    padding-right: 7px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
}

.review-text-card-text-font-style {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.8);
}

.review-added-date {
    padding-left: 43%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.8);
}

.review-added-user-style {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.8);
}

.member-center-my-points-title {
    text-align: center;
    font-family: Open Sans;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    margin-top: 20px;
}

.member-center-my-points {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
}

.member-center-date {
    font-family: Open Sans;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
}

#startingMemberLevel {
    position: absolute;
    left: 15%;
    top: 60%;
    font-family: Open Sans;
    font-style: normal;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
}

#endingMemberLevel {
    position: absolute;
    right: 15%;
    top: 60%;
    font-family: Open Sans;
    font-style: normal;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
}

.member-center-left-points {
    font-family: Open Sans;
    font-style: normal;
    font-size: 11px;
    line-height: 11px;
    color: #FFFFFF;
    text-align: center;
}

.ui-slider-track .ui-btn.ui-slider-handle {
    width: 15px !important;
    height: 15px !important;
    margin-top: -8px !important;
    background-color: rgb(255, 255, 255) !important;
}

.points-work-title {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
    color: #000000;
}

.member-center-titles {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-left: 15px;
    margin-top: 9px;
}

.member-center-content {
    font-family: Open Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.8);
}

.member-level-guide-title {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #000000;
    margin-left: 10px;
    margin-top: 9px;
}

.member-level-guide {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: rgba(0, 0, 0, 1.6);
}

.member-type-titles {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin-left: 15px;
    margin-top: 7px;
}

.member-type-values {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin-left: 15px;
    margin-top: 7px;
}


/* iPhone X Portrait */

@media screen and (min-height: 812px) and (min-width: 375px) and (orientation: portrait) {
    a#welcome-buttons {
        font-size: 15px !important;
    }
    p#welcome-text {
        font-size: 13px !important;
        top: 21%;
    }
    span#sign-in-text {
        margin-left: 2px !important;
    }
    span.flash-deals-text {
        margin-left: 10px;
        margin-top: 12px;
        font-size: 17px;
        color: white;
        font-weight: 550;
    }
    #flash-deals-header-title {
        position: absolute;
        left: 33%;
        top: 29%;
        font-size: 23px;
    }
}


/* iPhone X Landscape */

@media screen and (min-height: 375px) and (min-width: 812px) and (orientation: landscape) {
    a.welcome-buttons {
        font-size: 15px !important;
    }
    p#welcome-text {
        font-size: 13px !important;
        top: 46%;
        position: absolute;
    }
    span#sign-in-text {
        margin-left: 2px !important;
    }
    span.flash-deals-text {
        margin-left: 10px;
        margin-top: 12px;
        font-size: 17px;
        color: white;
        font-weight: 550;
    }
    #flash-deals-header-title {
        position: absolute;
        left: 33%;
        top: 12%;
        font-size: 23px;
    }
}


/* iPad Pro Portrait */

@media screen and (min-height: 1366px) and (min-height: 1024px) and (orientation: portrait) {
    a.welcome-buttons {
        font-size: 24px !important;
    }
    p#welcome-text {
        font-size: 22px !important;
    }
    span#sign-in-text {
        margin-left: 8px !important;
        font-size: 22px !important;
    }
    #header-title {
        font-size: 50px !important;
    }
    span.flash-deals-text {
        margin-left: 13px;
        margin-top: 12px;
        font-size: 24px;
        color: white;
        font-weight: 550;
    }
    #flash-deals-header-title {
        position: absolute;
        left: 33%;
        top: 12%;
        font-size: 23px;
    }
}


/* iPad Pro Landscape */

@media screen and (min-width: 1366px) and (min-height: 1024px) and (orientation: landscape) {
    a.welcome-buttons {
        font-size: 24px !important;
    }
    p#welcome-text {
        font-size: 22px !important;
        top: 23% !important;
    }
    span#sign-in-text {
        margin-left: 8px !important;
        font-size: 22px !important;
    }
    #header-title {
        font-size: 50px !important;
    }
    span.flash-deals-text {
        margin-left: 13px;
        margin-top: 12px;
        font-size: 24px;
        color: white;
        font-weight: 550;
    }
    #flash-deals-header-title {
        position: absolute;
        left: 33%;
        top: 12%;
        font-size: 23px;
    }
}