.card-text-font-style {
    text-align: center;
    height: 14px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.sub-category-style {
    position: absolute;
    width: 180px;
    height: 20px;
    left: 50px;
    top: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
}

.member-type-layout {
    width: 79px;
    height: 14px;
    left: 58px;
    top: 44px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.9);
}


/* iPhone X */

.iphone-bottom-navbar-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px !important;
    text-align: center;
    text-transform: none !important;
    font-style: normal;
    color: #7D7B7D;
    font-weight: 600;
    line-height: 14px;
}

.iphone-smallest-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px !important;
    font-style: normal;
    text-align: center;
    letter-spacing: -0.165px;
    text-transform: none !important;
}

.iphone-medium-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px !important;
    font-style: normal;
    font-weight: 550;
    line-height: 18px;
    letter-spacing: -0.165px;
    text-align: center;
    text-transform: none !important;
}

.iphone-large-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px !important;
    align-items: center !important;
    font-style: normal !important;
    font-weight: 550 !important;
    line-height: 18px !important;
    text-align: center !important;
    letter-spacing: -0.165px !important;
    text-transform: none !important;
}

.asda-logo-style {
    position: absolute;
    width: 116px;
    height: 25px;
    left: 158px;
    top: -1px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    background-image: linear-gradient(#F46B45, #EEA849) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flash-deals-item-details {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 5px;
    text-align: left !important;
}

.flash-deals-price {
    text-align: left !important;
    font-family: Open Sans;
    font-style: normal;
    font-size: 15px;
    line-height: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 5px;
}

.flash-deals-discount-price {
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    color: #939191;
    margin-top: 4px;
    text-align: left !important;
}


/* iPad Pro */

.ipad-smallest-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 8px !important;
}

.ipad-medium-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px !important;
}

.ipad-large-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px !important;
}

#header-title {
    position: absolute;
    left: 35%;
    top: -20%;
    font-size: 30px;
}

.header-title-color {
    font-weight: 600;
    color: black;
    background: -webkit-linear-gradient(#F46B45, #EEA849) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.flash-deals-header-title-color {
    font-weight: 600;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-style: normal !important;
    font-weight: 550 !important;
    text-transform: none !important;
    background: white !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}


/* iPhone X Portrait */

@media screen and (min-height: 812px) and (min-width: 375px) and (orientation: portrait) {
    a#welcome-buttons {
        font-size: 15px !important;
    }
    p#welcome-text {
        font-size: 13px !important;
        top: 21%;
    }
    span#sign-in-text {
        margin-left: 2px !important;
    }
    span.flash-deals-text {
        margin-left: 10px;
        margin-top: 12px;
        font-size: 17px;
        color: white;
        font-weight: 550;
    }
    #flash-deals-header-title {
        position: absolute;
        left: 33%;
        top: 12%;
        font-size: 23px;
    }
}


/* iPhone X Landscape */

@media screen and (min-height: 375px) and (min-width: 812px) and (orientation: landscape) {
    a.welcome-buttons {
        font-size: 15px !important;
    }
    p#welcome-text {
        font-size: 13px !important;
        top: 46%;
        position: absolute;
    }
    span#sign-in-text {
        margin-left: 2px !important;
    }
    span.flash-deals-text {
        margin-left: 10px;
        margin-top: 12px;
        font-size: 17px;
        color: white;
        font-weight: 550;
    }
    #flash-deals-header-title {
        position: absolute;
        left: 33%;
        top: 12%;
        font-size: 23px;
    }
}


/* iPad Pro Portrait */

@media screen and (min-height: 1366px) and (min-height: 1024px) and (orientation: portrait) {
    a.welcome-buttons {
        font-size: 24px !important;
    }
    p#welcome-text {
        font-size: 22px !important;
    }
    span#sign-in-text {
        margin-left: 8px !important;
        font-size: 22px !important;
    }
    #header-title {
        font-size: 50px !important;
    }
    span.flash-deals-text {
        margin-left: 13px;
        margin-top: 12px;
        font-size: 24px;
        color: white;
        font-weight: 550;
    }
    #flash-deals-header-title {
        position: absolute;
        left: 33%;
        top: 12%;
        font-size: 23px;
    }
}


/* iPad Pro Landscape */

@media screen and (min-width: 1366px) and (min-height: 1024px) and (orientation: landscape) {
    a.welcome-buttons {
        font-size: 24px !important;
    }
    p#welcome-text {
        font-size: 22px !important;
        top: 23% !important;
    }
    span#sign-in-text {
        margin-left: 8px !important;
        font-size: 22px !important;
    }
    #header-title {
        font-size: 50px !important;
    }
    span.flash-deals-text {
        margin-left: 13px;
        margin-top: 12px;
        font-size: 24px;
        color: white;
        font-weight: 550;
    }
    #flash-deals-header-title {
        position: absolute;
        left: 33%;
        top: 12%;
        font-size: 23px;
    }
}