.cart-icon{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 336px;
    top: 4px;
}

.card-image{
    position: absolute;
    width: 158px;
    height: 117px;
    left: 203px;
    top: 550px;
}
.card-image-style{
    width: 170px;
    height: 90px;
    /* margin-top: 7px; */
}

.back-icon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    top: 10px;
}

.account-crown-icon{
    position: absolute;
    width: 18px;
    height: 20px;
    left: 30px;
    top: 38px;
}
/* iPhone X Portrait */

@media screen and (min-height: 812px) and (min-width: 375px) and (orientation: portrait) {
    img#welcome-img {
        background-image: url("../img/welcome_bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 620px;
    }
    img#createAcc-img {
        position: absolute;
        top: 0px;
        width: 600px;
        height: 500px;
    }

    img#logIn-img {
        top: 0px;
        width: 600px;
        height: 480px;
    }
    img#forgetPassword-img {
        position: absolute;
        top: 0px;
        width: 700px;
        height: 600px;
    }

}


/* iPhone X Landscape */

@media screen and (min-height: 375px) and (min-width: 812px) and (orientation: landscape) {
    /* Welcome Page image */
    img#welcome-img {
        background-image: url("../img/welcome_bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 620px;
    }
    img#createAcc-img {
        
        left: 0px;
        top: 0px;
        width: 600px;
        height: 500px;
    }

    /* Create Account Page Buttons Layout */
    img#CreateAcc-img {
        width: 812px !important;
        height: 375px !important;
    }

    /* Frget Password Page Buttons Layout */
    img#forgetPassword-img {
        width: 812px !important;
        height: 375px !important;
    }
}


/* iPad Pro Portrait */

@media screen and (min-height: 1366px) and (min-height: 1024px) and (orientation: portrait) {
    img#welcome-img {
        background-image: url("../img/welcome_bg_iPad.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 1020px;
    }
    img#createAcc-img {
        position: absolute;
        left: 0px;
        width: 1030px !important;
        height: 930px !important;
    }

    img#resetPasswordSuccess-img {
        width: 1500px !important;
        height: 1080px !important;
    }

    img#CreateAcc-img {
        width: 1025px !important;
        height: 1000px !important;
    }
}

/* iPad Pro Landscape */

@media screen and (min-width: 1366px) and (min-height: 1024px) and (orientation: landscape) {
    img#welcome-img {
        background-image: url("../img/welcome_bg_iPad.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 620px;
    }
    img#createAcc-img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 1030px;
        height: 930px;
    }

    img#CreateAcc-img {
        height: 1025px !important;
        width: 1000px !important;
    }
}