.marker {
    max-width: 100%;
    max-height: 100%;
}

.tab-content {
    display: none;
}

.tab-content:first-child {
    display: block;
}

.ui-body-c {
    border: 1px solid #aaa!important;
}

caption {
    font-weight: bold;
    font-size: 1.1em;
}

.ui-li .ui-btn-inner a.ui-link-inherit,
.ui-li-static.ui-li {
    display: block !important;
    padding: 0.9em 75px 0.9em 15px !important;
}

.node {
    cursor: pointer;
}

.overlay {
    background-color: #EEE;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 10px;
    font-family: "sans-serif";
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show {
    display: block;
}

.ghostCircle,
.activeDrag .ghostCircle {
    display: none;
}

.open-sans-font {
    font-family: 'Open Sans', sans-serif;
}


/* iPhone X Portrait */

@media screen and (min-height: 812px) and (min-width: 375px) and (orientation: portrait) {
    a#welcome-buttons {
        font-size: 15px !important;
    }
    p#welcome-text {
        top: 20%;
    }
    span#signInText {
        margin-left: 2px !important;
    }
}


/* iPhone X Landscape */

@media screen and (min-height: 375px) and (min-width: 812px) and (orientation: landscape) {
    a.welcome-buttons {
        font-size: 15px !important;
    }
    p#welcome-text {
        font-size: 13px !important;
        top: 27%;
    }
    span#signInText {
        margin-left: 2px !important;
    }
}


/* iPad Pro Portrait */

@media screen and (min-height: 1366px) and (min-height: 1024px) and (orientation: portrait) {
    a.welcome-buttons {
        font-size: 24px !important;
    }
    p#welcome-text {
        font-size: 22px !important;
    }
    span#signInText {
        margin-left: 8px !important;
        font-size: 22px !important;
    }
    #header-title {
        position: absolute !important;
        left: 42% !important;
        top: -36% !important;
    }
    .header-cart-navbar {
        left: 92% !important;
        position: absolute !important;
        top: 30% !important;
    }
    .header-navbar {
        display: flex !important;
        height: 60px !important;
        padding: 5px !important;
    }
}


/* iPad Pro Landscape */

@media screen and (min-width: 1366px) and (min-height: 1024px) and (orientation: landscape) {
    a.welcome-buttons {
        font-size: 24px !important;
    }
    p#welcome-text {
        font-size: 22px !important;
        top: 23% !important;
    }
    span#signInText {
        margin-left: 8px !important;
        font-size: 22px !important;
    }
    #header-title {
        position: absolute !important;
        left: 42% !important;
        top: -36% !important;
    }
    .header-cart-navbar {
        left: 92% !important;
        position: absolute !important;
        top: 30% !important;
    }
    .header-navbar {
        display: flex !important;
        height: 60px !important;
        padding: 5px !important;
    }
}

.buttons-layout {
    background: #FFFFFF;
    border-radius: 40px 40px 0px 0px;
    display: flex !important;
    justify-content: center !important;
    bottom: 0px;
    height: 100%;
}

.background-image-layout,
.buttons-layout {
    position: fixed;
    left: 0px;
    right: 0px;
}

.background-image-layout {
    display: flex !important;
    justify-content: center !important;
    top: 0px;
    height: 75%;
}

.container {
    position: relative;
    top: -16px;
}

.btn {
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-size: 20px;
}

.btn_grey {
    background-image: url(../img/back_grey.png);
    background-repeat: no-repeat;
    background-size: 20px;
}

.container .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    border: none;
}

.carousel-item-margin {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.navbar-align {
    display: inline-block;
    text-align: center;
}

.ui-footer-fixed {
    padding-bottom: 5px !important;
}

.selected-Text {
    background: -webkit-linear-gradient(#F46B45, #EEA849) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.header-navbar {
    display: flex;
    height: 40px;
    padding: 5px;
}


/* .header-title-navbar {
    position: absolute;
    left: 35%;
    top: -20%;
} */

.header-cart-navbar {
    left: 88%;
    position: absolute;
    top: 30%;
}